h3{
    color: aqua;
}
#heading1{
    color: rgba(0, 255, 255, 0.267);
}
#heading2{
    color: blue;
}
#heading3{
    color: brown;
}
#heading4{
    color: chartreuse;
}
#heading5{
    color: indigo;
}
.pgraph{
    border: 2px solid black;
    background-color: blue;
    padding: 30px;
    margin: 30px;
}

.headp1{
    border: 2px solid black;
    background-color: blue;
    padding: 30px;
    margin: 30px;
}
.headp2{
    border: 2px solid red;
    background-color: red;
    padding: 30px;
    margin: 30px;
}
.headp3{
    border: 2px solid green;
    background-color: green;
    padding: 30px;
    margin: 30px;
}

    .headp4{
        border: 2px solid yellow;
        background-color: yellow;
        padding: 30px;
        margin: 30px;
    }
    .headp5{
        border: 2px solid violet;
        background-color: violet;
        padding: 30px;
        margin: 30px;
    }


    body{
        background-color: cadetblue;
    }
    header{
        background-color: black;
    }
    .navigation{
    float: right;
    margin-top: 13px;
    margin-right: 25px;
    }
    
    .navigation a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px ;
    }
    .navigation a:hover {
        background-color: red;
        color: black;
    }
    /* aside */
    .side{
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 100px;
        float: left;
    }
    .side h3 {
        margin-bottom: 20px;
        
    }
    .side li{
        padding: 8px;
        list-style-type: square;
    }
    /* aside */
    
    /* form */
    .my_login{
        border: 1px solid black;
        background-color: burlywood;
        float:right;
        margin-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 80;
    
    }
    /* form */